@use '../variables' as *;
@use '../mixins' as *;

.location-form {
    position: relative;
    display: flex;
    gap: 20px;

    &__input {
        width: calc(50% - 10px);
        padding: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid #FFFFFF;
        background-color: transparent;
        color: #FFFFFF;
        caret-color: #10618F ;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 10px);
        transform-origin: left;
        transition: transform 0.25s;
        @include regular-text(16px, 19px, $main-text-color);
    }

    &__input:focus+ .location-form__label {
        transform: translate(0, -20px) scale(0.8);;
    }

    &__button {
        border: 2px solid #FFFFFF    ;
        border-radius: 20px;
        color: #FFFFFF    ;
        background-color: transparent;
        width: calc(50% - 10px);
        transform: translate(0);
        overflow: hidden;
        cursor: pointer;
        @include regular-text(16px, 19px, #FFFFFF);

        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }

        &:active {
            background-color: rgba(255, 255, 255, .4);
        }
    }
}


@media (min-width: 1024px) {
    .location-form {
        &__button {
            &::before {
                content: '';
                position: absolute;
                background-color: #FFFFFF   ;
                width: 5px;
                top: 0;
                bottom: 0;
                left: -32px;
                transform: rotate(-16deg);
                filter: blur(6px);
            }
    
            &:hover::before {
                left: calc(100% + 32px);
                transition: 1s;
            }
        }
    }
}
