@use '../variables' as *;
@use '../mixins' as *;

.main-screen {
    padding: 15px 5px;
    position: relative;
    width: 100%;
    height: 100%;

    &__title {
        @include regular-text(15px, 18px, $main-text-color);
    }

    &__forecast {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 22px;

    }

    &__temperature {
        @include font(60px, 70px, #FFFFFF);
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        min-width: 130px;
    }

    &__location {
        @include column(5px);
        align-items: center;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    &__region {
        @include font(30px, 45px, #FFFFFF);
        text-transform: uppercase;
        align-self: flex-start;
    }

    &__date {
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }

    &__text {
        @include font(15px, 18px, #FFFFFF);
        white-space: nowrap;
    }

    &__forecast-icon {
        width: 100px;
        height: 100px;
        background-color: rgba(194, 196, 197, .3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icons-box {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        gap: 20px;
    }

    &__loader {
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__loader-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #74090B;
        animation: load;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        &:nth-child(2) {
            animation-delay: 200ms;
        }

        &:nth-child(3) {
            animation-delay: 400ms;
        }
    }
}

@keyframes load {
    to {
        filter: blur(4px);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .main-screen {
        padding: 30px 10px;

        &__title {
            @include regular-text(20px, 24px, $main-text-color);
        }

        &__temperature {
            @include font(64px, 70px, #FFFFFF);
        }

        &__location {
            @include column(10px);
        }

        &__text {
            @include font(20px, 26px, #FFFFFF);
        }

        &__region {
            @include font(40px, 44px, #FFFFFF);
            max-width: 350px;
        }

        &__forecast {
            row-gap: 15px;
            column-gap: 20px;
        }

        &__icons-box {
            gap: 30px;
            justify-content: flex-end;
        }

        &__loader {
            gap: 20px;
            bottom: 10px;
        }
    }
}

@media (min-width: 1024px) {
    .main-screen {
        padding: 50px 15px;

        &__forecast {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-gap: 60px;
            justify-items: center;
        }

        &__temperature {
            @include font(130px, 140px, #FFFFFF);
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__forecast-icon {
            width: 120px;
            height: 120px;
        }

        &__icons-box {
            grid-column: 1/2;
            grid-row: 3/4;
            gap: 50px;
        }

        &__location {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        &__region {
            font-size: 46px;
            line-height: 50px;
        }

        &__text {
            @include font(30px, 32px, #FFFFFF);
        }

        &__loader {
            bottom: 80px;
        }
    }
}

@media (min-width: 1240px) {
    .main-screen {
        padding: 50px 5px;

        &__temperature {
            @include font(120px, 130px, #FFFFFF);
        }

        &__forecast-icon {
            width: 140px;
            height: 140px;
        }

        &__icons-box {
            gap: 70px;
        }

        &__forecast {
            row-gap: 80px;
            column-gap: 30px;
        }

        &__text {
            @include font(35px, 42px, #FFFFFF);
        }

        &__location {
            gap: 20px;
        }

        &__region {
            font-size: 56px;
            line-height: 60px;
            max-width: 450px;
        }

        &__loader {
            gap: 20px;
            bottom: 110px;
        }

        &__loader-dot {
            width: 30px;
            height: 30px;
        }
    
    }
}

